<%- layout('layouts/main') %>
<div style="margin-left: 15px;">
    <h4>user_id:</h4><div><%= user._id%></div><br>
    <h4>user:</h4><div><%= user.email %></div><br>
    <h4>crypted password:</h4><div><%= user.password %></div>
</div>

